* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: hsl(185, 58%, 96%);
}

.header-background-image-container {
  display: flex;
}

.header-background {
  background-repeat: no-repeat;
  width: 100%;
  height: 9.75rem;
}

.filter-container {
  margin: 0 auto;
  width: 18.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.31rem;
  box-shadow: 0rem 0.62rem 0.31rem 0rem rgba(0, 0, 0, 0.15);
}

.filter-inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  list-style-type: none;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.31rem;
}

.clear-btn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.12em;
  color: #818a89;
}

.filter-items {
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  padding: 0.62rem;
  font-size: 1.12em;
  font-weight: 700;
  border-radius: 0.31rem;
}

@media screen and (min-width: 23.5rem) {
  .header-background {
    background-image: url("/assets/images/bg-header-desktop.svg");
  }
}

@media screen and (max-width: 23.43rem) {
  .header-background {
    background-image: url("/assets/images/bg-header-mobile.svg");
  }
}
